
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323'), local('VT323-Regular'), url(http://themes.googleusercontent.com/static/fonts/vt323/v4/CfvjE7QXPaQqLo02SkpIgA.ttf) format('truetype');
}


body{
	background-color: black;	
}

canvas{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	font-family: 'VT323', sans-serif;
}
