
body{
	background-color: black;
	font-family: 'VT323', monospace;
}

canvas{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	font-family: 'VT323', sans-serif;
}
